
header{

    .logo-box{
        width: 200px;
        margin: auto;

        img{
            width:100%;
        }
    }

    .main-nav{

        ul{
            display: flex;
            align-items: center;
            margin: auto;
            width: 200px;

            li{
                list-style: none;
                text-align: center;

                a{
                    font-size: $fontBig;
                    text-decoration: none;
                }
            }
        }
    }
}