
header{

    .logo-box{
        width: 200px;
        margin: auto;

        img{
            width:100%;
        }
    }

    .main-nav{

        ul{
            display: flex;
            align-items: center;
            margin: auto;
            width: 250px;
            padding: 0;

            li{
                list-style: none;
                text-align: center;
                margin: 2px 8px 0px 8px;
                padding: 10px 0;

                a{
                    font-size: $fontBig;
                    text-decoration: none;
                    font-weight: bold;
                    color: $secondary;
                    padding: 10px 3px;

                    &:focus{
                        outline:none;
                        color:blue;
                    }

                    &:hover{
                        background-color: $third;
                    }

                }

                @media screen and (max-width: 750px) {
                    display: none;
                }

                &.burger-menu{
                    display: none;

                    @media screen and (max-width: 750px) {
                        display: inline-block;
                        flex-basis:100%;
                    }
    
                }

            }
        }
    }
}