
header{

    .logo-box{
        width: 200px;
        margin: auto;

        img{
            width:100%;
        }
    }

    .main-nav{

        ul{
            display: flex;
            align-items: center;
            margin: auto;
            width: 200px;
            padding: 0;

            li{
                list-style: none;
                text-align: center;
                margin: 2px 5px;

                a{
                    font-size: $fontBig;
                    text-decoration: none;
                    font-weight: bold;
                    color: $secondary;

                    &:focus{
                        outline:none;
                        color:blue;
                    }

                    &:hover{
                        background-color: blue;
                    }
                }
            }
        }
    }
}