
main{
    background-color: $fifth;
    padding: 20px 0;
    position: relative;
    
    .title-box{
        text-align: center;

        h1{
            color: $fourth;
        }

        
        
    }

    .product-hero{

        img{
            width:100%;
        }
    }

    .product-detail{

                img{
            width:100%;
        }

    }

    .text-box{

        p{
            color: $fourth;
        }
    }

    .scroll{
        position: absolute;
        top: 50%;
        font-size: 60px;
        margin: 0 15px;
        

        &.left{
            left:0;

            a{
                color: $sixth;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    width:100%;
                    background-color: $sixth;
                    opacity: 0.3;
                    border-radius: 10px;
                }
            }
        }

        &.right{
            right:0;

            a{
                color: $sixth;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    width:100%;
                    background-color: $sixth;
                    opacity: 0.3;
                    border-radius: 10px;
                }
            }
        }
    }

   

}
